/* General selectors and styles designed to make the site look good on DESKTOP screens go here. But they affect all devices, and must be overridden by media queries targeting INCREASINGLY SMALLER screens */
     .menu {
		text-align: center;
	    float:right;
	}

		.titulo{
		float:left;
	}
 	
 	.menu li {
    	display: inline-block; 	
  	}

	#menuAbout{
		border-right:solid 1px;
		border-left:solid 1px;
		padding-right: 5px;
		padding-left: 5px;
	}
	#menuCourses{
		border-right:solid 1px;
		padding-right: 5px;
	}
			#menuHome > a {
		    text-decoration: none;
		    color: black;
		}

	.menu li a {
		background: #ffffff;
	    text-align: center;
	    padding: 2px;
	   	color: blue;
	}

	.containerImg {
		background: url("../images/imagen.png");
		background-repeat: no-repeat;
		background-position: center;
	    background-size: cover;
	    height: 50%;
	    margin: 15px;
	    margin-top: 4%;
	}

		.sectionMain, .SubSectionCenter, .SubSectionRight {
	  	width:31%;
	  	float:left;
	  	margin:15px;
	}


	#textoCuadro {
	  border: solid 2px black;
	background: orange;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	img.imgCenter{
  		width: 100%; 
  		height: 10%;
	}


@media (max-width: 979px) {
  /* Selectors and styles affecting screens UP TO 979px (Desktop) */
	.menu {
		list-style: none;
	}

	.menu li {
		margin-bottom: 3px;  
		display: block;
	}
	.menu li a {
	    display: block;
	    background: #e4e4e4;
	    text-align: center;
	    padding: 10px;
	  }
	#menuAbout{
		border-right:none;
		border-left:none;
		padding-right: 0px;
		padding-left: 0px;
	}
	#menuCourses{
		border-right:none;
		padding-right: 0px;
	}

	.menu {
		text-align: center;
	    float:none ;
	}

	.titulo{
		float:none;
	}

	.containerImg {
		background: url("../images/imagen.png");
		background-repeat: no-repeat;
		background-position: center;
	    background-size: cover;
	    height: 50%;
	    margin: 15px;
	}

	.sectionMain, .SubSectionCenter, .SubSectionRight {
	  	width:100%;
	  	float:none;
	  	margin: 0px;
	}

	.secciones {
	  	margin: 15px;
	}
}

@media (max-width: 768px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet) */
    .containerImg {
		background: url("../images/imagen.png");
		background-repeat: no-repeat;
		background-position: center;
	    background-size: cover;
	    height: 50%;
	    margin: 15px;

	}

}

@media (max-width: 480px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
	.containerImg {
		background: url("../images/imagen.png");
		background-repeat: no-repeat;
	    background-size: cover;
	    height: 30%;
	    margin: 15px;
	    background-position: center;
	}

}

@media (max-width: 350px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
	.containerImg {
		background: url("../images/imagen.png");
		background-repeat: no-repeat;
	    background-size: cover;
	    height: 25%;
	    margin: 15px;
	    background-position: center;
	}

}