/* General selectors and styles designed to make the site look good on DESKTOP screens go here. But they affect all devices, and must be overridden by media queries targeting INCREASINGLY SMALLER screens */

/*
Coloca el menu de navegacion a la derecha
cuando se tiene la pantalla completa en la computadora.
*/
.menu {
	text-align: center;
	float:right;
}

/*
Coloca el titulo a la izquierda
cuando se tiene la pantalla completa en la computadora.
*/
.titulo{
	float:left;
}

.menu li {
	display: inline-block; 	
}

/*
Coloca lineas entre cada opcion del menu.
*/
.menuAbout{
	border-right:solid 1px;
	border-left:solid 1px;
	padding-right: 5px;
	padding-left: 5px;
}
.menuCourses{
	border-right:solid 1px;
	padding-right: 5px;
}
.menuHome > a {
	text-decoration: none;
	color: black;
}

.menuHome > a:visited {
	color: black;
}

.menu li a {
	background: #ffffff;
	text-align: center;
	padding: 2px;
	color: blue;
}

.SubSectionCenter, .SubSectionRight {
	width:25%;
	float:left;
	margin:15px;
}

.sectionMain {
	width:40%;
	float:left;
	margin:15px;
}

#textoCuadro {
	border: solid 2px black;
	background: orange;
	margin-top: 10px;
	margin-bottom: 10px;
}

img.imgCenter{
	width: 100%; 
	height: 10%;
}


@media (max-width: 979px) {
	/* Selectors and styles affecting screens UP TO 979px (Desktop) */

	/*Estructura para el menu y el titulo Izquierdo*/
	.menu {
		list-style: none;
	}

	.menu li {
		margin-bottom: 3px;  
		display: block;
	}
	.menu li a {
		display: block;
		background: #e4e4e4;
		text-align: center;
		padding: 10px;
	}
	.menuAbout{
		border-right:none;
		border-left:none;
		padding-right: 0px;
		padding-left: 0px;
	}
	.menuCourses{
		border-right:none;
		padding-right: 0px;
	}

	.menu {
		text-align: center;
		float:none ;
	}

	.titulo{
		float:none;
	}

	/*Estructura para el contenido donde estan los párrafos*/
	.sectionMain, .SubSectionCenter, .SubSectionRight {
		width:100%;
		float:none;
		margin: 0px;
	}

	.secciones {
		margin: 15px;
	}
}
