/* General selectors and styles designed to make the site look good on small MOBILE screens go here. But they affect all devices, and must be overridden by media queries targeting INSCREASINGLY LARGER screens */

.menu {
	list-style: none;
}

.menu li {
	margin-bottom: 3px;  
}
.menu li a {
	display: block;
	background: #e4e4e4;
	text-align: center;
	padding: 10px;
	color: blue;
}

.menuHome > a:visited {
	background: #c4c4c4;
	text-decoration: none;
	color: black;
}
.menuHome > a {
	text-decoration: none;
}

.sectionMain, .SubSectionCenter, .SubSectionRight {
	width:100%;
	float:none;
	margin: 0px;
}

img.imgCenter{
	width: 100%; 
	height: 10%;
}
.secciones {
	margin: 15px;
}

@media (min-width: 480px) {
	/* Selectors and styles affecting screens WIDER THAN 767px (Tablet) */

}

@media (min-width: 769px) {
	/* Selectors and styles affecting screens WIDER THAN 767px (Tablet) */

}

@media (min-width: 1044px) {
	/* Selectors and styles affecting screens WIDER THAN 979px (Desktop) */
	.menu {
		text-align: center;
		float:right;
	}

	.menu li {
		display: inline-block; 	
	}

	.menuAbout{
		border-right:solid 1px;
		border-left:solid 1px;
		padding-right: 5px;
		padding-left: 5px;
	}

	.menuCourses{
		border-right:solid 1px;
		padding-right: 5px;
	}

	.menu li a {
		background: #ffffff;
		text-align: center;
		padding: 2px;
	}

	.menuHome > a:visited {
		background: #ffffff;
	}
	
	.titulo{
		float:left;
	}

	.SubSectionCenter, .SubSectionRight {
		width:25%;
		float:left;
		margin:15px;
	}
	
	.sectionMain {
		width:40%;
		float:left;
		margin:15px;
	}

	#textoCuadro {
		border: solid 2px black;
		background: orange;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.secciones {
		margin: 0px;
	}
}

@media (min-width: 1200px) {
	/* Selectors and styles affecting screens WIDER THAN 1200px (Large Desktop) */

}




