@media only screen and (min-width: 641px) and (max-width: 666px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet) */
    .menu {
    	display: none;
    }

    .containerImg {
		display: none;
	}

	img {
		display: none;
	}

	.Footer {
		display: none;
	}

	  .wrapper {
    height: 0%;
    overflow-y: scroll;
  }
      .lineaFooter {
  margin: 15px;
    border-top: solid 1px black;
  }
  #textoCuadro {
  border: none;
background: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
}