    footer {
    height: 10%;
    text-align: center;
  }

  footer li {
    display: inline-block;  
    color: blue;
  }

  footer li a {
    color: blue;
  }

  .Footer {
    font-weight: bold;
    margin-bottom: 5px;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  body
  {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }

  .titulo h1, .menu{
    margin: 15px;
    font-weight: bold;
  }

  .titulo h1{
    font-size: 25px;
  }

  .SubSectionCenter h2, .SubSectionRight h2 {
    color: rgba(0, 124, 255, 0.81);    
    font-size: 22px;
    font-weight: bold;
  }

  .SubSubSection h3 {
    color: green;
    font-size: 20px;
  }

  .SubSubSubSection h4 {
    color: red;
    font-size: 20px;
  }

  .wrapper {
    height: 85%;
    overflow-y: scroll;
  }

  .sinDecoracion{
    text-decoration: none;
  }

  span {
    color: red;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sectionMain h2{
    font-size: 25px;
    font-weight: bold; 
  }

  b {
    font-weight: bold;
  }

  .lineaFooter {
    margin: 15px;
    border-top: solid 1px black;
  }

  .containerImg {
    margin: 15px;
  }